@media all and (min-width : 240px) {}
@media (min-width:640px) {}
@media (min-width:960px) {}
@media (min-width:1440px) {
    .foot{
        max-width: 1440px;
        margin: 0 auto;
        background-color: #1C3B55;;
    }
    .foot__container{
        max-width: 1180px;
        color: #ffff;
        display: flex;
        justify-content: space-between;
        margin: 0px auto 0px auto;
        padding-top: 14px;
        padding-bottom: 14px;
        align-items: center;
    }
    .foot__slogan{
        font-size: 24px;
        line-height: 29px;
    }
    .foot__text{
        font-size: 16px;
        line-height: 23px;
    }
    .foot__spacing{
        letter-spacing: -0.01px;
        margin-left: 65px;
    }
}